---
---

{% for version in site.data.navs %}
  {% if forloop.first %}
    {% assign latestVersion = version[0] %}
  {% endif %}
{% endfor %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Patrick+Hand' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <!-- <meta http-equiv="refresh" content="0;url={{site.url}}{{site.baseurl}}/docs/{{latestVersion}}" /> -->
  </head>
  <body>
    <h1>Page object</h1>
    <h2>version 1.4.0</h2>

    <p>
      Makes it easy to create page objects for your tests.
    </p>

    <span class="terminal">
      <div class="icon-bar">
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
      </div>
      <span class="command">ember install ember-cli-page-object</span>
      <!-- <span class="cursor">|</span> -->
    </span>

    <div class="row">
      <div class="col-xs-12 text-center">
        <ul class="nav nav-pills">
          <li role="presentation"><a href="/docs/v1.4.x/">Overview</a></li>
          <li role="presentation"><a href="/docs/v1.4.x/">Guides</a></li>
          <li role="presentation"><a href="/docs/v1.4.x/">API</a></li>
          <li role="presentation"><a href="/docs/v1.4.x/">Contributors</a></li>
        </ul>
      </div>
    </div>

  </body>
</html>
