---
---

{% for version in site.data.navs %}
  {% if forloop.first %}
    {% assign latestVersion = version[0] %}
  {% endif %}
{% endfor %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Patrick+Hand' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <!-- <meta http-equiv="refresh" content="0;url={{site.url}}{{site.baseurl}}/docs/{{latestVersion}}" /> -->
  </head>
  <body>
    <div class="container-fluid">
      <h1>Page <span>object</span></h1>

      <h2>version 1.4.0</h2>

      <p>
        Makes it easy to create page objects for your tests.
      </p>

      <span class="terminal">
        <div class="icon-bar">
          <div class="icon"></div>
          <div class="icon"></div>
          <div class="icon"></div>
        </div>
        <span class="command">ember install <span>ember-cli-page-object</span></span>
        <!-- <span class="cursor">|</span> -->
      </span>

      <div class="row">
        <div class="col-xs-12 text-center">
          <ul class="nav nav-pills">
            <li role="presentation"><a href="/docs/v1.4.x/">Overview</a></li>
            <li role="presentation"><a href="/docs/v1.4.x/">Guides</a></li>
            <li role="presentation"><a href="/docs/v1.4.x/">API</a></li>
            <li role="presentation"><a href="/docs/v1.4.x/">Contributors</a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <iframe src="https://ghbtns.com/github-btn.html?user=san650&repo=ember-cli-page-object&type=star&count=true&size=large"
          frameborder="0"
          scrolling="0"
          width="140px"
          height="30px"></iframe>

          <span class="star-text">
            Don't forget to
            <span class="glyphicon glyphicon-star"></span>
            on GitHub if you liked this project!
          </span>
        </div>
      </div>

      <footer>
        <div class="row">
          <div class="col-xs-6">© 2016 <a href="https://twitter.com/san650">Santiago Ferreira</a>. Code licensed under MIT License.</div>
        </div>
      </footer>

    </div>
  </body>
</html>
