<header>
  <h2>Getting started</h2>
</header>
<ul class="nav nav-stacked left-nav">
  <li>
    <a class="page-link" href="/">Overview</a>
  </li>
  <li>
    <a class="page-link" href="/installation/">Installation</a>
  </li>
  <li>
    <a class="page-link" href="/quickstart/">Quickstart</a>
  </li>
</ul>

<header>
  <h2>API reference</h2>
</header>
<ul class="nav nav-stacked left-nav">
  <li>
    <a class="page-link" href="/api/setup/">Setup</a>
  </li>
  <li>
    <a class="page-link" href="/api/predicates/">Predicates</a>
  </li>
  <li>
    <a class="page-link" href="/api/queries/">Queries</a>
  </li>
  <li>
    <a class="page-link" href="/api/actions/">Actions</a>
  </li>
  <li>
    <a class="page-link" href="/api/components/">Components</a>
  </li>
  <li>
    <a class="page-link" href="/api/options/">Options</a>
  </li>
</ul>
