<header>
  <h2>Getting started</h2>
</header>
<ul class="nav nav-stacked left-nav">
  <li>
    <a class="page-link" href="/">Overview</a>
  </li>
  <li>
    <a class="page-link" href="/installation/">Installation</a>
  </li>
  <li>
    <a class="page-link" href="/quickstart/">Quickstart</a>
  </li>
</ul>

<header>
  <h2>API reference</h2>
</header>
<ul class="nav nav-stacked left-nav">
  <li>
    <a class="page-link" href="/api/setup/">Setup</a>
  </li>
  <li>
    <a class="page-link" href="/api/predicates/">Predicates</a>
  </li>
  <li>
    <a class="page-link" href="/api/queries/">Queries</a>
  </li>
  <li>
    <a class="page-link" href="/api/actions/">Actions</a>
  </li>
  <li>
    <a class="page-link" href="/api/components/">Components</a>
  </li>
  <li>
    <a class="page-link" href="/api/options/">Options</a>
  </li>
</ul>

<header>
  <h2>Contribute</h2>
</header>
<ul class="nav nav-stacked left-nav">
  <li>
    <a class="page-link" href="https://github.com/san650/ember-cli-page-object" target="_blank">Github</a>
  </li>
  <li>
    <a class="page-link" href="https://github.com/san650/ember-cli-page-object/issues" target="_blank">Bugs</a>
  </li>
  <li>
    <a class="page-link" href="https://github.com/san650/ember-cli-page-object/issues" target="_blank">Feature requests</a>
  </li>
  <li>
    <a class="page-link" href="https://github.com/san650/ember-cli-page-object/releases" target="_blank">Release notes</a>
  </li>
  <li>
    <a class="page-link" href="http://emberobserver.com/addons/ember-cli-page-object" target="_blank">Ember Observer</a>
  </li>
  <li>
    <a class="page-link" href="https://www.npmjs.com/package/ember-cli-page-object" target="_blank">NPM</a>
  </li>
</ul>

<div style="margin: 30px 20px">
  <img src="https://img.shields.io/npm/v/ember-cli-page-object.svg" alt="Latest version">
</div>
