<header>
  <h2>Contribute</h2>
</header>

<ul class="nav nav-stacked left-nav">
  <li>
    <a class="page-link" rel="noopener" target="_blank" href="https://github.com/san650/ember-cli-page-object">Github</a>
  </li>
  <li>
    <a class="page-link" rel="noopener" target="_blank" href="https://github.com/san650/ember-cli-page-object/issues">Bugs</a>
  </li>
  <li>
    <a class="page-link" rel="noopener" target="_blank" href="https://github.com/san650/ember-cli-page-object/issues">Feature requests</a>
  </li>
  <li>
    <a class="page-link" rel="noopener" target="_blank" href="https://github.com/san650/ember-cli-page-object/releases">Release notes</a>
  </li>
  <li>
    <a class="page-link" rel="noopener" target="_blank" href="http://emberobserver.com/addons/ember-cli-page-object">Ember Observer</a>
  </li>
  <li>
    <a class="page-link" rel="noopener" target="_blank" href="https://www.npmjs.com/package/ember-cli-page-object">NPM</a>
  </li>
</ul>
