<header>
  <h2>GUIDES</h2>
</header>

<ul class="nav nav-stacked left-nav">
  <li>
    <a class="page-link" href="{{site.baseurl}}/guides/">Overview</a>
  </li>
  <li>
    <a class="page-link" href="{{site.baseurl}}/guides/installation">Installation</a>
  </li>
  <li>
    <a class="page-link" href="{{site.baseurl}}/guides/quickstart">Quickstart</a>
  </li>
  <li>
    <a class="page-link active" href="{{site.baseurl}}/guides/blueprints">
      Blueprints
      <span class="label label-default pull-right">new</span>
    </a>
  </li>
  <li>
    <a class="page-link" href="{{site.baseurl}}/guides/async-await">
      Using async and await in tests
      <span class="label label-default pull-right">new</span>
    </a>
  </li>
  <li>
    <a class="page-link" href="{{site.baseurl}}/guides/migrating">Migrating from 0.11 to 1.x</a>
  </li>
</ul>
