<div class="inputs-and-selects">
  <input name="input1"        class="input1-value">
  <input id="input2"          class="input2-value">
  <input placeholder="input3" class="input3-value">
  <input data-test="input4"   class="input4-value">
  <input aria-label="input5"  class="input5-value">

  <textarea name="textarea1"        class="textarea1-value"></textarea>
  <textarea id="textarea2"          class="textarea2-value"></textarea>
  <textarea placeholder="textarea3" class="textarea3-value"></textarea>
  <textarea data-test="textarea4"   class="textarea4-value"></textarea>
  <textarea aria-label="textarea5"  class="textarea5-value"></textarea>

  <select name="select1"        class="select1-value">
    <option selected>select 1 option 1</option>
    <option>select 1 option 2</option>
  </select>
  <select id="select2"          class="select2-value">
    <option selected>select 2 option 1</option>
    <option>select 2 option 2</option>
  </select>
  <select placeholder="select3" class="select3-value">
    <option selected>select 3 option 1</option>
    <option>select 3 option 2</option>
  </select>
  <select data-test="select4"   class="select4-value">
    <option selected>select 4 option 1</option>
    <option>select 4 option 2</option>
  </select>
  <select aria-label="select5"  class="select5-value">
    <option selected>select 5 option 1</option>
    <option>select 5 option 2</option>
  </select>
</div>

<div class="contenteditables">
  <div contenteditable="true" name="contenteditable1"
       class="contenteditable1-content"></div>
  <div contenteditable="true" id="contenteditable2"
       class="contenteditable2-content"></div>
  <div contenteditable="" placeholder="contenteditable3"
       class="contenteditable3-content"></div>
  <div contenteditable="" data-test="contenteditable4"
       class="contenteditable4-content"></div>
  <div contenteditable aria-label="contenteditable5"
       class="contenteditable5-content"></div>
</div>