<h1>Users</h1>

<table>
  <thead>
    <tr>
      <td>User name</td>
      <td>Role</td>
      <td>Animal preference</td>
    </tr>
  </thead>
  <tbody>
    {{#each @users as |user|}}
      <tr class={{if user.admin "admin"}}>
        <td>{{user.userName}}</td>
        <td>{{user.role}}</td>
        <td>
          <select disabled={{user.disabledAnimalPreference}}>
            <option>Cats</option>
            <option>Dogs</option>
            <option>Tomsters</option>
          </select>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
