.btn {
  &.uppercase {
    text-transform: uppercase;
  }

  &.btn-primary {
    font-family: $text-font;
    background-color: $primary-color-darken-30;
    border: solid 1px $primary-color-darken-3;
    transition: all .4s;

    &:hover{
      background-color: $primary-color-darken-20;
      border: solid 1px $primary-color-darken-30;
      box-shadow: 0 2px 7px rgba(0,0,0,.3), 0 0 3px rgba(255,255,255,.2) inset;
      transition: all .2s;
    }
  }
}
