.github-star__widget {
  margin-top: 3rem;
  margin-left: 10px;
}

.github-star__caption {
  display: block;
  margin-top: 1rem;
  color: $github-text-color;
}

.github-star__glyphicon {
  font-size: 16px;
  vertical-align: text-bottom;
}
