.main-header {
  h1.logo {
    position: relative;
    font-family: $primary-font;
    font-size: 34px;
    color: $primary-color;
    margin: 10px 0 25px 0;
    text-shadow: 1px 1px 1px $text-shadow-color;
  }

  .nav {
    display: inline-block;
    margin-top: 22px;
  }

  .nav-pills > li {
    padding: 0 5px;

    a {
      font-size: 16px;
      padding: 5px 10px;
    }
  }
}

.jumbotron {
  background-color: $bg-color;
  font-family: $text-font;
  color: $light-color;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px darken($bg-color, 5%);
  box-shadow: 0 -8px 1px rgba(255,255,255,.2) inset;

  h1 {
    font-size: 45px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.2);
  }

  p {
    text-shadow: 1px 1px 2px rgba(255,255,255,.2);
    color: darken($primary-color, 8%);
  }
}

section {
  .left-side {

    header {
      font-family: $text-font;
      color: $primary-color;

      h2 {
        margin-top: 0;
      }
    }

  }
}
