.splash-body {
  background-color: $primary-color;
  background-image: -webkit-linear-gradient($primary-color, $primary-color-darken-3);
  background-image: -moz-linear-gradient($primary-color, $primary-color-darken-3);
  background-image: linear-gradient($primary-color, $primary-color-darken-3);
  color: $light-color;
  font-family: $text-font;
}

.splash {
  width: 100%;
  min-height: calc(100% - 70px);
  text-align: center;
}

.splash__title {
  position: relative;
  font-family: $primary-font;
  font-size: $main-title-font-size;
  color: $light-color;
  text-shadow: 4px 4px 0px $primary-color-lighten-3, 7px 7px 0px $text-shadow-color;
}

.splash__version {
  font-family: monospace;
  font-size: 14px;
  margin-top: 40px;
}

.splash__caption {
  font-family: $secondary-font;
  font-size: $main-caption-font-size;
  margin-top: 20px;
}

.nav-pills {
  display: block;
  margin-top: 50px;

  li {
    padding: 0;
    margin-bottom: 15px;
    width: 100%;

    a {
      font-size: 20px;
      color: $light-color;
    }
  }
}

@media (min-width: 480px) {
  $main-title-font-size: 80px;
  $main-caption-font-size: 30px;

  .splash {
    min-height: calc(100% - 40px);
  }

  .splash__title {
    font-size: $main-title-font-size;
  }

  .splash__caption {
    font-size: $main-caption-font-size;
  }

  .nav-pills {
    display: inline-block;

    li {
      padding: 0 5px;
      margin-bottom: 0;
      width: auto;

      a {
        font-size: 20px;
        color: $light-color;
      }
    }
  }
}
