$primary-font: 'Pacifico', cursive;
$secondary-font: 'Patrick Hand', cursive;
$text-font: 'Inconsolata';

$main-title-font-size: 50px;
$main-caption-font-size: 25px;

/* Green theme */
$bg-color: #C1E1A6;
$primary-color: #118C4E;
$secondary-color: #585858;
$terminal-color: rgba(0, 0, 0, 0.9);
$text-shadow-color: rgba(255, 255, 255, 0.6);

$light-color: #fff;
$dark-color: #222;

$github-text-color: #118C4E;

$button-color: #ff7b09;
$button-color-hover: #FF9009;

/* Red theme */
$bg-color: #3B3738;
$primary-color: #C63D0F;
$secondary-color: #FDF3E7;
$terminal-color: rgba(0, 0, 0, 0.9);
$text-shadow-color: rgba(0, 0, 0, 0.2);

$light-color: #fff;
$dark-color: #222;

$github-text-color: #FDF3E7;

$button-color: #7E8F7C;
$button-color-hover: #7E8F7C;

/* Blue theme */
$bg-color: #74AFAD;
$primary-color: #558C89;
$secondary-color: #ECECEA;
$terminal-color: rgba(0, 0, 0, 0.9);
$text-shadow-color: rgba(255, 255, 255, 0.6);

$light-color: #fff;
$dark-color: #222;

$github-text-color: #444;

$button-color: #D9853B;
$button-color-hover: #D9853B;
