$primary-font: 'Pacifico', cursive;
$secondary-font: 'Patrick Hand', cursive;
$text-font: 'Inconsolata';

$main-title-font-size: 50px;
$main-caption-font-size: 25px;


$primary-color: #f47a33;
$primary-color-darken-3: darken($primary-color, 3%);
$primary-color-darken-20: darken($primary-color, 20%);
$primary-color-darken-30: darken($primary-color, 30%);
$primary-color-lighten-3: lighten($primary-color, 3%);
$primary-color-lighten-20: lighten($primary-color, 20%);
$primary-color-lighten-30: lighten($primary-color, 30%);

$secondary-color: #f26234;


$terminal-color: rgba(0, 0, 0, 0.9);
$text-shadow-color: rgba(0, 0, 0, .2);

$light-color: #fff;
$dark-color: #222;


$button-primary-bg-color: #ff7b09;
