$bg-color: #C1E1A6;
$primary-color: #118C4E;
$secondary-color: #585858;
$terminal-color: rgba(0, 0, 0, 0.9);

$light-color: #fff;
$dark-color: #222;

$button-color: #ff7b09;
$button-color-hover: #FF9009;

$primary-font: 'Pacifico', cursive;
$secondary-font: 'Patrick Hand', cursive;
$text-font: 'Inconsolata';
