<h1>Users</h1>

<table>
  <thead>
    <tr>
      <td>User name</td>
      <td>Role</td>
      <td>Gender</td>
    </tr>
  </thead>
  <tbody>
    {{#each model as |user|}}
    <tr {{bind-attr class="user.admin:admin"}}>
        <td>{{user.userName}}</td>
        <td>{{user.role}}</td>
        <td>
          <select {{bind-attr disabled=user.disabledGender}}>
            <option>Male</option>
            <option>Female</option>
          </select>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
