<h1>Users</h1>

<table>
  <thead>
    <tr>
      <td>User name</td>
      <td>Role</td>
    </tr>
  </thead>
  <tbody>
    {{#each model as |user|}}
      <tr>
        <td>{{user.userName}}</td>
        <td>{{user.role}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
