<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  <header class="main-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <h1 class="logo">
            Page <span>object</span>
          </h1>
        </div>
        <div class="col-xs-8 col-md-9">
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active">
              <a href="/docs/v1.4.x/">Overview</a>
            </li>
            <li role="presentation">
              <a href="/docs/v1.4.x/">Guides</a>
            </li>
            <li role="presentation">
              <a href="/docs/v1.4.x/">API</a>
            </li>
            <li role="presentation">
              <a href="/docs/v1.4.x/">Contributors</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4 col-md-3 left-side">
          <nav>
            {% include sidebar.html %}
          </nav>
        </div>
        <div class="col-xs-8 col-md-9">
          {{ content }}
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <span>
            Project and site maintained by <a href="https://twitter.com/san650">Santiago Ferreira</a>
          </span>
        </div>
        <div class="col-sm-6">
          <span class="pull-right">
            <iframe src="https://ghbtns.com/github-btn.html?user=san650&repo=ember-cli-page-object&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
          </span>
        </div>
      </div>
    </div>
  </footer>

    {% include ga.html %}

    {% include version-switcher-js.html %}
  </body>
</html>
