name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request: {}

concurrency:
  group: ci-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: "Tests"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 14.x

      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 7.29.3
          run_install: false

      - name: Install dependencies
        run: pnpm install

      - name: Lint Addon
        run: pnpm lint
        working-directory: addon

      - name: Lint Test App
        run: pnpm lint
        working-directory: test-app

      - name: Run Tests
        run: pnpm test:ember
        working-directory: test-app

  floating:
    name: "Floating Dependencies ${{ matrix.node-version }}"
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [14.x, 16.x]

    steps:
      - uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 14.x

      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 7.29.3
          run_install: false

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile=false

      - name: Run Tests
        run: pnpm test:ember
        working-directory: test-app

  node-tests:
    name: "Node tests ${{ matrix.node-version }}"
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [14.x, 16.x]

    steps:
      - uses: actions/checkout@v2

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 14.x

      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 7.29.3
          run_install: false

      - name: Install Dependencies
        run: pnpm install

      - name: Run Tests
        run: pnpm test
        working-directory: addon

  try-scenarios:
    name: ${{ matrix.try-scenario }}
    runs-on: ubuntu-latest
    needs: 'test'

    strategy:
      fail-fast: false
      matrix:
        try-scenario:
          - ember-lts-3.24
          - ember-lts-3.28
          - ember-release
          - ember-beta
          - ember-canary
          - ember-default-with-jquery
          - ember-classic
          - embroider-safe
          - embroider-optimized

    steps:
      - uses: actions/checkout@v2
      - name: Install Node
        uses: actions/setup-node@v2
        with:
          node-version: 14.x

      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 7.29.3
          run_install: false

      - name: Install Dependencies
        run: pnpm install

      - name: Run Tests
        run: ./node_modules/.bin/ember try:one ${{ matrix.try-scenario }}
        working-directory: test-app
